<template>
    <div>
        <div class="block">
          <!-- <div class="menu-label">Сохранение</div> -->
          <el-input class="mgn_b_8" type="text" v-model="filename" placeholder="Введите имя"></el-input>
          <!-- class="input mgn_b_8" -->
          <el-button :disabled="!filename" type="primary" @click="saveCanvas()">
              Сохранить
          </el-button>
        </div>

        <div class="line"></div>

        <div class="block">
          <!-- <div class="menu-label">Загрузка</div> -->
<!--           <el-select class="mgn_b_8" v-model="loadfilename" @focus="getSavedFileNames()">
                  <el-option
                      v-for="item in savedCanvases"
                      :key="item"
                      :label="getLabel(item)"
                      :value="item">
                  </el-option>
              </el-select>  -->
    <div class="block">
          
          <input type="file" id="myFile" size="50" @change="fileSelected">
        </div>
          <el-button :disabled="false"  type="primary" @click="loadCanvas()"><!-- :disabled="!file" -->
              Загрузить
          </el-button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import Node, { visTypes } from "../../common/node.js";
import Element, { visTypes as elTypes } from "../../common/element.js";

export default {
  props: {
    context: ""
  },
  data() {
    return {
      file: "",
      filename: "",
      loadfilename: ""
    };
  },
  computed: {
    ...mapGetters([
      "servers",
      "groups",
      "savedCanvases",
      "observers",
      "selectedGroup",
      "observersByGroups",
      "nodesData",
      "nodes",
      "elements",
      "theme",
      "settings",
      "isLoadCanvasSettings",
      "canvasSettings",
      "canvasName"
    ])
  },
  mounted() {
    //this.loadCanvas();
    //console.log('mounted');
    
    if (this.canvasName) {
      this.loadfilename = this.canvasName;
      this.filename = this.getLabel(this.canvasName);
    }
  },
  methods: {
    getLabel(item) {
      return item.replace(".json", '');
    },
    getSavedFileNames() {
      this.$store.dispatch("getSavedCanvases");
    },
    fileSelected(e) {
      this.file = e.target.files[0];
    },
    saveCanvas() {
      //let obj = Object.assign({}, this.nodes);
      let filename = this.filename ? this.filename : "canvas";

      if(this.savedCanvases.includes(filename + ".json")) {
        var result = confirm(`Вы уверены, что хотите перезаписать файл '${filename}'?`);
        if(!result) return;
      }

      filename += ".json";
      let obj = {
        namejson: filename,
        themeName: "",
        settings: {},
        canvasSettings: {},
        nodes: [],
        elements: []
      };

      obj.themeName = this.theme.name();

      obj.settings = Object.assign({}, this.settings);

      obj.canvasSettings = Object.assign({}, this.canvasSettings);

      for (let i in this.nodes) {
        let node = this.nodes[i];
        obj.nodes.push(node.getSaveString());
      }

      for (let i in this.elements) {
        let el = this.elements[i];
        obj.elements.push(el.getSaveString());
      }

      //this.$store.dispatch("saveCanvas", obj);

      let str = JSON.stringify(obj);
      var a = document.createElement("a");
      var file = new Blob([str], { type: "text/plain" });
      a.href = URL.createObjectURL(file);
      a.download = filename;
      a.click();
    },
    loadCanvas() {
       var input, file, fr;
      if (typeof window.FileReader !== "function") {
        alert("The file API isn't supported on this browser yet.");
        return;
      }
      input = document.getElementById("myFile");
      if (!input) {
        alert("Um, couldn't find the fileinput element.");
      } else if (!input.files) {
        alert(
          "This browser doesn't seem to support the `files` property of file inputs."
        );
      } else if (!input.files[0]) {
        alert("Please select a file before clicking 'Load'");
      } else {
        let file = input.files[0];
        fr = new FileReader();
        fr.onload = this.drawFromSaveData;
        fr.readAsText(file);
      }

      this.$store.dispatch("clearCanvas");

      /* this.loadfilename = this.loadfilename ? this.loadfilename : "canvas.json";

      var filename = this.loadfilename;

      let res = "";
      this.$store.dispatch("loadCanvas", filename).then(answ => {
        res = JSON.parse(answ.data.response);
        this.drawFromSaveData(res);
      }); */
    },
    async drawFromSaveData(e) {
      let obj = e.target.result;
      var savedData = JSON.parse(obj); //e
      this.$store.commit("setFileName", savedData.namejson);
      var nodes = savedData.nodes;
      var settings = savedData.settings;
      var canvasSettings = savedData.canvasSettings;
      var themeName = savedData.themeName;
      var elements = savedData.elements;

      if (themeName) this.theme.setThemeByName(themeName);

      if (settings) this.$store.commit("setSettings", settings);

      this.createNodes(nodes);
      this.createElements(elements);

      if (canvasSettings)
        this.$store.dispatch("loadCanvasSettings", canvasSettings);
    },
    async createNodes(nodes) {
      var nodeGroups = [];

      for (let i in nodes) {
        let params = JSON.parse(JSON.stringify(nodes[i]));
        let grName = params.group;

        if (!nodeGroups.includes(grName)) nodeGroups.push(grName);
      }

      await this.$store.dispatch("loadObserversByGroups", nodeGroups);

      for (let i in nodes) {
        var params = JSON.parse(JSON.stringify(nodes[i]));
        var grName = params.group;
        var visType = params.visType;
        var geom = params.geometry;
        var pos = params.position;
        var patternProps = params.canvasPattern;
        var nodeObservers = [];

        for (let j in params.observers) {
          const obsName = params.observers[j];

          let gr = this.observersByGroups.find(item => {
            return item.group == grName;
          });
          if (!gr) continue;

          let obs = gr.observers.find(item => {
            return item.name == obsName;
          });
          if (!obs) continue;

          nodeObservers.push(obs);
        }

        var node = new Node();
        for (let i in nodeObservers) {
          node.pushObserver(nodeObservers[i]);
        }
        var params = {};
        params["group"] = grName;
        params["theme"] = this.theme;
        params["visType"] = visType;
        params["context"] = this.context;
        params["geometry"] = geom;
        params["position"] = pos;

        node.setupNode(params);

        if (patternProps) {
          for (let f in patternProps) {
            var value = patternProps[f];
            if (f == "label") node.properties.canvasPattern.setLabel(value);
            else {
              node.properties.canvasPattern.properties[f] = value;
            }
          }
        }

        this.$store.dispatch("addNode", node);
        this.$store.dispatch("updateNodeDataObject", grName);
      }
    },
    createElements(elements) {
      for (let i in elements) {
        var el = elements[i];
        var params = {};
        params["visType"] = el.visType;
        params["context"] = this.context;
        params["theme"] = this.theme;

        let element = new Element();
        element.setupElement(params);

        var patternProps = el.canvasPattern;

        if (patternProps) {
          for (let f in patternProps) {
            var value = patternProps[f];
            if (f == "points")
              element.properties.canvasPattern.pushPoints(value);
          }
        }

        this.$store.dispatch("addElement", element);
      }
      this.$store.dispatch("cancelEditElement");
    }
  },
  watch: {
    canvasName(val) {
      this.loadfilename = val;
      this.filename = this.getLabel(val);
    }
  }
};
</script>

<style lang="scss">
.input {
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  width: 100%;

  &::-webkit-input-placeholder {
    color: #c8cbd2;
  }
}
.mgn_b_8 {
  margin-bottom: 8px;
}
</style>
