<template>
    <div>
        <div class="block">
        <div class="menu-label">Тип блока</div>
          <el-select v-model="menuObj.visIndex">
              <el-option
                  v-for="item in nodeTypes"
                  :key="item.index"
                  :value="item.index"
                  :label="item.label">
              </el-option>
          </el-select>                    
        </div>

        <div v-if="menuObj.visIndex != 5">
          <div class="block">
            <div class="menu-label">Выбор группы</div>
              <el-select v-model="menuObj.group">
                  <el-option
                      v-for="item in groups"
                      :key="item.groupobserver"
                      :value="item.groupobserver">
                  </el-option>
              </el-select> 
            </div>

            <div class="block">
            <div class="menu-label">Выбор обсервера</div>
              <div class="select-cont">
                  <el-select v-model="selectedObservers"
                  multiple
                  filterable
                  default-first-option>
                    <el-option
                        v-for="item in observers"
                        :key="item[fields.NAME]"
                        :value="item[fields.NAME]"
                        :label="item[fields.NAME]">
                    </el-option>
                  </el-select>
              </div>                    
            </div>
        </div>
        <div v-else>
          <div class="block">
            <div class="menu-label">Введите текст</div>
            
            <el-input placeholder="Текст" v-model="menuObj.label"></el-input>
          </div>
        </div>

        <div v-if="menuObj.observers.length > 1">
          <div class="block">
            <div class="menu-label">Направление отрисовки</div>

            <el-radio v-model="menuObj.direction" label="y">Вертикально</el-radio>
            <el-radio v-model="menuObj.direction" label="x">Горизонтально</el-radio>
          </div>
        </div>

        

        <div class="block">
          <div>
              <el-button type="primary" :disabled='!isMenuObjCompleted' @click="addNodeToCanvas()">
              Добавить
              </el-button>
          </div>                    
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import { observerFields } from "../../common/templates";
import Node, { visTypes } from "../../common/node.js";

export default {
  props: {
    context: ""
  },
  data() {
    return {
      fields: observerFields,
      nodeTypes: visTypes,
      selectedObservers: [],
      menuObj: {
        visIndex: "",
        group: "",
        observers: [],
        label: "",
        direction: "y",
      }
    };
  },
  mounted() {
    this.menuObj.group = this.groups[0];
  },
  computed: {
    isMenuObjCompleted() {
      this.$emit("checkOverflow");
      //console.log('check overflow');

      if (this.menuObj.visIndex === "") return false;

      if (this.menuObj.visIndex == 5 && this.menuObj.label !== "") return true;

      if (this.menuObj.group == "") return false;

      if (this.menuObj.observers.length == 0) return false;

      return true;
    },
    ...mapGetters([
      "servers",
      "groups",
      "observers",
      "selectedGroup",
      "observersByGroups",
      "nodesData",
      "nodes",
      "elements",
      "theme",
      "canvasSettings",
    ])
  },
  methods: {
    addNodeToCanvas() {
      var node = new Node();
      for (let i in this.menuObj.observers) {
        node.pushObserver(this.menuObj.observers[i]);
      }
      //console.log(this.nodes);
      var params = {};
      params["group"] = this.selectedGroup;
      params["theme"] = this.theme;
      params["visType"] = this.menuObj.visIndex;
      params["context"] = this.context;
      params["label"] = this.menuObj.label;
      params["direction"] = this.menuObj.direction;
      params["position"] = { x: this.canvasSettings.offsetX, y: this.canvasSettings.offsetY };
      node.setupNode(params);
      this.$store.dispatch("addNode", node);
      this.$store.dispatch("updateNodeDataObject", this.menuObj.group);
    }
  },
  watch: {
    selectedObservers(val) {
      //console.log(val);
      this.menuObj.observers = [];

      for (let i in val) {
        var name = val[i];

        let obs = this.observers.find(item => {
          return item.name == name;
        });

        if (!obs) return;

        this.menuObj.observers.push(obs);
      }
    },
    "menuObj.group": function(name) {
      this.selectedObservers = [];
      this.$store.dispatch("selectGroup", name);
    },
    menuObj: {
      handler: function() {
        //this.$emit("menuChanged", this.menuObj);
      },
      deep: true
    }
  }
};
</script>

<style lang="sass">

</style>
