<template>
    <div>
    <div class="block">
        <div class="menu-label">Тема</div>
        <div class="select-cont">
          <el-select v-model="selectedTheme" placeholder="Select">
            <el-option
              v-for="theme in theme.list"
              :key="theme.label"
              :label="theme.label"
              :value="theme.name">
            </el-option>
          </el-select>
        </div>
      </div>

      <div class="block">
        <div class="menu-label">Заблокировать перемещение</div>
        <div class="select-cont">
          <el-switch v-model="freezeNodes"></el-switch>
        </div> 
      </div>

      <div class="line"></div>

      <div class="block">
        <div class="menu-label">Элементы редактирования</div>
        <div class="select-cont">
          <el-switch v-model="nodeInterface"></el-switch>
        </div>
      </div> 

       <div class="block">
        <div class="menu-label">Прозрачность фона элементов</div>
        <div class="select-cont">
          <el-slider
            v-model="nodeFontOpacity"
            :step="0.1"
            :min="0"
            :max="1">
          </el-slider>
        </div>
       </div>

       <div class="line"></div>

      <div class="block">
        <div class="menu-label">Отображать сетку</div>
        <div class="select-cont">
          <el-switch v-model="showGrid"></el-switch>
        </div> 
      </div>  

       <div class="block">
        <div class="menu-label">Шаг сетки</div>
        <div class="select-cont">
          <el-slider
            v-model="gridStep"
            :step="5"
            :min="5"
            :max="30">
          </el-slider>
        </div>
       </div>      
       
       <div class="block">
        <div class="menu-label">Отображать карту</div>
        <div class="select-cont">
          <el-switch v-model="showMap"></el-switch>
        </div> 
      </div>  
    
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import Node from "../../common/node.js";

export default {
  props: {
    ctx: ""
  },
  data() {
    return {
      selectedTheme: "",
    };
  },
  mounted() {
    this.selectedTheme = this.theme.name();
    this.commitSetting();
  },
  computed: {
    nodeInterface: {
      get() { return this.settings.nodeInterface; },
      set(value) { this.$store.commit('setNodeInterface', value)}
    },
    freezeNodes: {
      get() { return this.settings.freezeNodes; },
      set(value) { this.$store.commit('setFreezeNodes', value)}
    },
    nodeFontOpacity: {
      get() { return this.settings.nodeFontOpacity; },
      set(value) { this.$store.commit('setNodeFontOpacity', value)}
    },
    showGrid: {
      get() { return this.settings.showGrid; },
      set(value) { this.$store.commit('setShowGrid', value)}
    },
    gridStep: {
      get() { return this.settings.gridStep; },
      set(value) { this.$store.commit('setGridStep', value)}
    },    
    showMap: {
      get() { return this.settings.showMap; },
      set(value) { this.$store.commit('setShowMap', value)}
    },
    ...mapGetters([
      "servers",
      "groups",
      "observers",
      "selectedGroup",
      "observersByGroups",
      "nodesData",
      "nodes",
      "elements",
      "settings",
      "theme"
    ])
  },
  methods: {
    commitSetting() {
      this.$store.commit("setSettings", this.settings);
    }
  },
  watch: {
    settings: {
      handler: function() {
        this.commitSetting();
      },
      deep: true
    },
    theme: {
      handler: function(val) {
        this.selectedTheme = val.name();
      },
      deep: true
    },
    selectedTheme(val) {
      if (val) this.theme.setThemeByName(val);
    }
  }
};
</script>

<style lang="sass">

</style>
