<template>
  <div class="home">
    <Visual />
  </div>
</template>

<script>
// @ is an alias to /src
import Visual from "@/components/NodeVisualisation.vue";

export default {
  name: "home",
  components: {
    Visual
  }
};
</script>
