<template>
<div id="elements-menu-cont" :class="{ hidden: isHidden }">
    <div class="element-cont" v-for="item in elements" :key="item.index"
    :class="{selected: currentElementIndex == item.index}"
    @click="selectEl(item.index)">
        <div class="label">{{item.label}}</div>
    </div>

    <div v-if="currentElementIndex != undefined" class="help-cont">
      <div><b>Esc</b> для выхода из редактирования /</div>
      <div><b>Delete</b> для удаления /</div>
      <div v-if="currentElementIndex === 0"><b>ПКМ</b> для удаления точки</div>
    </div>
</div>
    
</template>
<script>
import { mapGetters } from "vuex";
import Element from "../common/element.js";

export default {
  components: {},
  props: {
    context: ""
  },
  data() {
    return {
      elements: [
        {
          index: 0,
          label: "Линия",
          name: "line"
        },
        {
          index: 1,
          label: "Прямоугольник",
          name: "rect"
        }
      ],
      currentElementIndex: undefined,
      isHidden: false
    };
  },
  mounted() {},
  computed: {
    ...mapGetters([
      "servers",
      "groups",
      "observers",
      "selectedGroup",
      "observersByGroups",
      "nodesData",
      "nodes",
      "selectedElIndex",
      "currentElement",
      "settings",
      "theme"
    ])
  },
  methods: {
    updateHidden() {
      this.isHidden = !this.settings.showMenu;
    },
    selectEl(index) {
      this.currentElementIndex =
        this.currentElementIndex == index ? undefined : index;
    },
    setSelectedEl(val) {
      if (val != undefined) {
        let element = this.createElement();
        this.$store.dispatch("addElement", element);
      } else {
        this.$store.dispatch("cancelEditElement");
      }
    },
    createElement() {
      var el = new Element();
      var params = {};
      params["visType"] = this.currentElementIndex;
      params["context"] = this.context;
      params["theme"] = this.theme;
      el.setupElement(params);
      //console.log(el);

      return el;
    }
  },
  watch: {
    currentElementIndex(val) {
      if(!this.currentElement) this.setSelectedEl(val);
    },
    selectedElIndex(val) {
      if (val === undefined) this.currentElementIndex = undefined;
      else this.currentElementIndex = val;
    },
    settings: {
      handler: function(val) {
        //console.log(val);

        if (!val) return;

        if (this.settings.showMenu !== undefined) this.updateHidden();
      },
      deep: true
    }
  }
};
</script>

<style lang="scss">
#elements-menu-cont {
  display: flex;
  transform: translateY(0);
  margin-top: 0;
  border-bottom: 1px solid white;
  transition: all 0.5s;

  .element-cont {
    display: flex;
    justify-content: center;
    //border-right: 1px solid rgb(169, 169, 169);
    background-image: linear-gradient(
      to top,
      white 20%,
      darkgray 20%,
      darkgray 80%,
      white 80%
    );
    background-size: 1px 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    color: #9c9c9c;
    cursor: pointer;
    min-width: 100px;
    &:hover {
      background-color: rgb(230, 230, 230);
    }
    &.selected {
      background-color: #409eff;
      color: white;
      font-weight: bold;
    }
    .label {
      margin: 10px 24px;
    }
  }
  .help-cont {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    & div {
      height: fit-content;
      & + div {
        margin-left: 5px;
      }
    }
  }
  &.hidden {
    transform: translateY(-100%);
    margin-top: -44px;
  }
}
</style>
