<template>
<div id="menu-container" :class="{hidden: isHidden}">      

      <div v-for="item in menu.children" :key="item.label"
      @click="()=>{currentMenuItem = item}"
      class="main-menu-item"
      :class="{selected: currentMenuItem == item}">
      {{item.label}}
      </div>

    <div v-if="currentMenuItem.name == 'manager'" class="menu-item-content" :class="{isOwerflow: overflowY}">
      <Manager :context="context"/>
    </div>

    <div v-if="currentMenuItem.name == 'editor'" class="menu-item-content"  :class="{isOwerflow: overflowY}">
      <NodeCreator :context="context" @checkOverflow="isOwerflowY()"/>
    </div>

    <div v-if="currentMenuItem.name == 'settings'" class="menu-item-content" :class="{isOwerflow: overflowY}">
      <Settings />
    </div>

    <div class="block hidden-btn">
      <el-button type="primary" @click="hideMenuClicked()">{{isHidden ? '>' : 'Скрыть'}}</el-button>
    </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";

import Manager from "./menuItems/manager";
import NodeCreator from "./menuItems/nodeCreator";
import Settings from "./menuItems/settings";

export default {
  components: {
    Manager,
    NodeCreator,
    Settings
  },
  props: {
    context: ""
  },
  data() {
    return {
      menu: {
        label: "Главное меню",
        name: "main",
        children: [
          {
            label: "Редактор",
            name: "editor"
          },
          {
            label: "Импорт/Экспорт",
            name: "manager"
          },
          {
            label: "Настройки",
            name: "settings"
          }
        ]
      },
      currentMenuItem: "",
      isHidden: false,
      overflowY: false,
      counter: 0
    };
  },
  mounted() {
    this.currentMenuItem = this.menu.children[0];
    this.calcMenuContentHeight();
  },
  computed: {
    menuElementName() {
      if (this.menu.name == this.currentMenuItem) return this.menu.label;

      return this.menu.children.find(item => {
        return item.name == this.currentMenuItem;
      }).label;
    },
    ...mapGetters([
      "servers",
      "groups",
      "observers",
      "selectedGroup",
      "observersByGroups",
      "nodesData",
      "nodes",
      "elements",
      "theme"
    ])
  },
  methods: {
    isOwerflowY() {
      this.$nextTick(() => {
        let el = document.getElementsByClassName("menu-item-content")[0];
        if (el) {
          let innerH = el.children[0].clientHeight;
          this.overflowY = el.clientHeight < innerH;
          this.$forceUpdate();
        }
      });
    },
    calcMenuContentHeight() {
      this.$nextTick(() => {
        let menuItems = document.getElementsByClassName("main-menu-item");
        let el = document.getElementsByClassName("menu-item-content")[0];
        if (!el) return;

        let h = 0;
        for (let i = 0; i < menuItems.length; i++) {
          const element = menuItems[i];
          h += element.clientHeight;
          //console.log(menuItems,h, i);
        }
        h += 62;

        el.style.maxHeight = document.documentElement.clientHeight - h + "px";
        //console.log(el.style);
      });
    },
    resizeHandler() {
      this.calcMenuContentHeight();
      this.isOwerflowY();
    },
    emitResize() {
      setTimeout(() => {
        this.$emit("resize");
      }, 510);
      /* setTimeout(() => {
        this.counter += 15;
        if (this.counter > 500) {
          this.counter = 0;
          return;
        }
        this.$emit("resize");
        this.emitResize();
      }, 15); */
    },
    hideMenuClicked() {
      this.isHidden = !this.isHidden;
      this.$store.commit("setSettings", { showMenu: !this.isHidden });
      this.emitResize();
    },
    commitSetting() {
      this.$store.commit("setSettings", this.settings);
    }
  },
  watch: {
    currentMenuItem() {
      this.isOwerflowY();
    }
  },
  created() {
    window.addEventListener("resize", this.resizeHandler);
  },
  deleted() {
    window.removeEventListener("resize", this.resizeHandler);
  }
};
</script>

<style lang="scss">
#menu-container {
  z-index: 2;
  width: 200px;
  border-right: 1px solid rgb(238, 238, 238);

  display: flex;
  flex-direction: column;

  transition: all 0.5s;

  .main-menu-item {
    font-size: 18px;
    padding: 10px 0;
    margin: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(212, 212, 212);

    &:hover {
      cursor: pointer;
      background-color: rgb(247, 247, 247);
      /* box-shadow: 0 0 10px rgb(216, 216, 216); */
    }
    &.selected {
      background-color: rgb(243, 243, 243);
    }
  }

  .block {
    margin: 12px;
    margin-top: 10px;
  }

  .menu-item-content {
    flex-grow: 1;
    padding-top: 20px;
    box-sizing: border-box;

    &.isOwerflow {
      overflow-y: scroll;
    }

    .menu-label {
    }

    .hide-menu-btn {
      margin-top: auto;
    }
  }

  &.hidden {
    transform: translateX(-200px);
    margin-right: -200px;

    .block.hidden-btn {
      position: absolute;
      transform: translateX(200px);
      bottom: 20px;
    }
  }
}

#myFile {
  width: 100%;
}
</style>
