<template>
  <div id="page-container">
    <div id="visualisation-container">
      <Menu :context="ctx" @resize="resizeHandler"></Menu>

      <div id="node-visualization">
        <elMenu :context="ctx" />

        <canvas id="node-canvas"></canvas>
        <!--width="100%" height="100%"  -->
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from "../common/api.service";
import { mapGetters } from "vuex";
import { observerFields } from "../common/templates";
import Node, { visTypes } from "../common/node.js";
import Element, { visTypes as elTypes } from "../common/element.js";
import demo from "../assets/demo.json";
import {
  DrawCanvasInterface,
  CanvasMap,
  SelectingRect
} from "../common/canvasInterface.js";
import Menu from "./menu";
import elMenu from "./elementsMenu";

export default {
  components: {
    Menu,
    elMenu
  },
  data() {
    return {
      h: 0,
      w: 0,
      offsetX: 0,
      offsetY: 0,
      fixedOffset: {
        x: 0,
        y: 0
      },
      maxh: 0,
      maxw: 0,
      scale: 1,
      canvas: "",
      ctx: "",
      stopDraw: false,
      redrawInterface: true,

      clickPoint: undefined,
      focusedNode: [],
      isMouseCanvasMove: false,
      isElementCreating: false,
      isSelecting: false,
      isSelectedNodesMoving: false
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.setupCanvas();
      this.resizeHandler();

      this.draw();
      this.setDefaultScale();

      this.map = new CanvasMap();
      this.select = new SelectingRect();

      this.loadData();

      this.drawFromSaveData();

      /*       this.getGroupObservers().then(() => {
        
      }); */
    });
    //console.log(this.nodeTypes);
  },
  computed: {
    ...mapGetters([
      "servers",
      "groups",
      "savedCanvases",
      "observers",
      "selectedGroup",
      "observersByGroups",
      "nodesData",
      "nodes",
      "elements",
      "currentElement",
      "theme",
      "settings",
      "isLoadCanvasSettings",
      "canvasSettings",
      "canvasName"
    ])
  },
  methods: {
    canvasParams() {
      let obj = {
        scale: this.scale,
        offsetX: this.offsetX,
        offsetY: this.offsetY,
        maxh: this.maxh,
        maxw: this.maxw,
        gridStep: this.settings.gridStep,
        theme: this.theme
      };
      this.$store.commit("setCanvasSettings", obj);
      return obj;
    },
    setDefaultScale() {
      var devicePixelRatio = window.devicePixelRatio || 1;
      var backingStoreRatio =
        this.ctx.webkitBackingStorePixelRatio ||
        this.ctx.mozBackingStorePixelRatio ||
        this.ctx.msBackingStorePixelRatio ||
        this.ctx.oBackingStorePixelRatio ||
        this.ctx.backingStorePixelRatio ||
        1;
      var ratio = devicePixelRatio / backingStoreRatio;

      if (devicePixelRatio !== backingStoreRatio) {
        var oldWidth = this.canvas.width;
        var oldHeight = this.canvas.height;

        this.canvas.width = oldWidth * ratio;
        this.canvas.height = oldHeight * ratio;

        this.canvas.style.width = oldWidth + "px";
        this.canvas.style.height = oldHeight + "px";
      }
      this.scale = ratio;
    },
    setupCanvasSize() {
      this.ctx.canvas.width = this.canvas.clientWidth;
      this.ctx.canvas.height = this.canvas.clientHeight * this.scale;
      this.h = this.canvas.clientHeight;
      this.w = this.canvas.clientWidth;
      this.ctx.scale(this.scale, this.scale);

      this.updateCanvasMaxSizes();
    },
    setupCanvas() {
      this.canvas = document.getElementById("node-canvas");
      if (this.canvas.getContext) {
        this.ctx = this.canvas.getContext("2d", { alpha: true });

        this.setupCanvasSize();

        this.canvas.addEventListener("mousemove", this.MouseMoveHandler);
        this.canvas.addEventListener("mouseup", this.MouseUpHandler);
        this.canvas.addEventListener("mousedown", this.MouseDownHandler);
        this.canvas.addEventListener("mousewheel", this.MouseWheelHandler);
        window.addEventListener("keydown", this.KeyDownHandler);
        window.addEventListener("keyup", this.KeyUpHandler);

        document.addEventListener("contextmenu", event =>
          event.preventDefault()
        );
      }
    },
    updateCanvasMaxSizes() {
      var h = this.canvas.clientHeight * this.scale;
      var w = this.canvas.clientWidth * this.scale;
      this.maxh = Math.floor(this.maxh < h ? h : this.maxh);
      this.maxw = Math.floor(this.maxw < w ? w : this.maxw);
    },
    reOffset(e, dscale) {
      var x = e.offsetX * this.scale;
      var y = e.offsetY * this.scale;
      var w = this.ctx.canvas.width;
      var h = this.ctx.canvas.height;
      var signX = w / 2 - x < 0 ? 1 : 0; // 1 - право
      var signY = h / 2 - y < 0 ? 1 : 0; // 1 - низ
      var dx = this.canvas.clientWidth * Math.abs(dscale);
      var dy = this.canvas.clientHeight * Math.abs(dscale);
      dx = dscale < 0 ? dx : -dx;
      dy = dscale < 0 ? dy : -dy;

      this.updateCanvasMaxSizes();

      if (dscale < 0) {
        //приближаем dx > 0
        this.offsetX += signX ? dx : 0;
        this.offsetY += signY ? dy : 0;
      } else {
        //отдаляем dx < 0
        this.offsetX += signX ? dx : dx;
        this.offsetY += signY ? dy : dy;
      }
      if (this.offsetX < 0) this.offsetX = 0;
      if (this.offsetY < 0) this.offsetY = 0;
      if (this.offsetX === 0 || this.offsetY === 0) return;

      let stappedX = 0;
      let stappedY = 0;
      var gridStep = this.canvasParams().gridStep;
      if (this.offsetX % gridStep > gridStep / 2)
        stappedX = this.offsetX + gridStep - (this.offsetX % gridStep);
      else stappedX = this.offsetX - (this.offsetX % gridStep);
      if (this.offsetY % gridStep > gridStep / 2)
        stappedY = this.offsetY + gridStep - (this.offsetY % gridStep);
      else stappedY = this.offsetY - (this.offsetY % gridStep);
      this.offsetX = stappedX;
      this.offsetY = stappedY;
    },
    getGroupObservers() {
      //this.$store.dispatch("getServers");
      //this.$store.dispatch("getSavedCanvases");
      //return this.$store.dispatch("getGroups");
    },
    async loadData() {
      await this.updateObserversData();

      setTimeout(() => {
        this.loadData();
      }, 50);
    },
    updateObserversData() {
      return this.$store.dispatch("updateNodesData");
    },
    draw() {
      var st = new Date();

      this.ctx.clearRect(0, 0, this.ctx.canvas.width, this.ctx.canvas.height);
      this.ctx.canvas.width = this.w * this.scale;
      this.ctx.canvas.height = this.h * this.scale;

      this.updateCanvasMaxSizes();

      if (this.redrawInterface) {
        DrawCanvasInterface(this.ctx, this.canvasParams(), this.settings);
        //this.redrawInterface = false;
      }

      if (!this.isElementCreating) {
        for (let i in this.elements) {
          let element = this.elements[i];

          element.redraw(this.ctx, this.canvasParams(), this.settings);
        }
      }

      for (let i in this.nodes) {
        let node = this.nodes[i];

        node.redraw(this.ctx, this.canvasParams(), this.settings);
      }

      if (this.isElementCreating) {
        for (let i in this.elements) {
          let element = this.elements[i];
          let isCurrent = this.currentElement.id == element.id;

          element.redraw(
            this.ctx,
            this.canvasParams(),
            this.settings,
            isCurrent
          );
        }
      }

      if (this.map)
        this.map.redraw(
          this.ctx,
          this.canvasParams(),
          this.settings,
          this.nodes
        );

      if (this.select && this.isSelecting)
        this.select.redraw(
          this.ctx,
          this.canvasParams(),
          this.settings,
          this.nodes,
          this.elements
        );

      var lt = new Date();

      if (lt - st > 20) {
        this.draw();
        return;
      }

      setTimeout(() => {
        if (!this.stopDraw) this.draw();
      }, 30);
    },
    resizeHandler() {
      let el = document.getElementById("visualisation-container");
      let canva = document.getElementById("node-canvas");
      let elMenu = document.getElementById("elements-menu-cont");
      if (el) {
        var h = document.documentElement.clientHeight;
        el.style.height = h + "px";
        var elMenuHeight =
          this.settings.showMenu || this.settings.showMenu == undefined
            ? elMenu.clientHeight + 5
            : 0;
        canva.style.height = h - elMenuHeight + "px";
      }
      this.$nextTick(() => {
        this.redrawInterface = true;
        this.setupCanvasSize();
      });
    },
    MouseDownHandler(e) {
      //console.log(e);

      var scaledX = e.offsetX * this.scale;
      var scaledY = e.offsetY * this.scale;

      let stappedX = 0;
      let stappedY = 0;
      var gridStep = this.canvasParams().gridStep;

      if (scaledX % gridStep > gridStep / 2)
        stappedX = scaledX + gridStep - (scaledX % gridStep);
      else stappedX = scaledX - (scaledX % gridStep);
      if (scaledY % gridStep > gridStep / 2)
        stappedY = scaledY + gridStep - (scaledY % gridStep);
      else stappedY = scaledY - (scaledY % gridStep);

      //console.log(scaledX, stappedX);

      let event = {
        offsetX: stappedX,
        offsetY: stappedY,
        button: e.button,
        ctrl: e.ctrlKey,
        canvasOffsetX: this.offsetX,
        canvasOffsetY: this.offsetY
      };
      this.clickPoint = event;

      if (e.button == 1) {
        //wheel button
        this.isMouseCanvasMove = true;
        this.fixedOffset.x = this.offsetX;
        this.fixedOffset.y = this.offsetY;
        return;
      }

      //console.log(this.isElementCreating, this.currentElement);

      if (this.isElementCreating) {
        /*         if (this.currentElement.isDeleted(event.offsetX, event.offsetY)) {
          this.$store.dispatch("deleteNode", i);
          return;
        } */

        this.currentElement.MouseDownHandler(event);
        return;
      }

      if (this.map.isHited(e.offsetX * this.scale, e.offsetY * this.scale)) {
        var clickPnt = this.map.getClickAbsolutPos(
          e.offsetX * this.scale,
          e.offsetY * this.scale
        );

        var ltX = clickPnt.x - this.w / 2;
        var ltY = clickPnt.y - this.h / 2;

        var newOffX = ltX < 0 ? 0 : ltX;
        var newOffY = ltY < 0 ? 0 : ltY;

        let maxOffsetX = this.maxw - this.ctx.canvas.width;
        let maxOffsetY = this.maxh - this.ctx.canvas.height;

        newOffX = newOffX > maxOffsetX ? maxOffsetX : newOffX;
        newOffY = newOffY > maxOffsetY ? maxOffsetY : newOffY;

        this.offsetX = newOffX;
        this.offsetY = newOffY;
        return;
      }

      for (let i = this.nodes.length - 1; i >= 0; i--) {
        let node = this.nodes[i];

        if (node.isDeleted(event.offsetX, event.offsetY)) {
          this.$store.dispatch("deleteNode", node.id);
          return;
        }
        //console.log(this.select.properties.selectedNodes);

        if (node.isHited(event.offsetX, event.offsetY)) {
          this.isSelectedNodesMoving = true;

          //если есть ноды в фокусе и текущая нода в фокусе
          if (this.select.isSelecting() && node.properties.isSelected) {
            if (e.ctrlKey) {
              this.focusedNode = this.createNodesCopy(
                this.select.properties.selectedNodes
              );
              this.select.selectNodes(this.focusedNode);
              //console.log(this.focusedNode, this.select.properties.selectedNodes);
            } else {
              this.focusedNode = this.select.properties.selectedNodes;
            }
            //обработка нажатия по нодам в фокусе
            for (let i in this.focusedNode) {
              var n = this.focusedNode[i];
              n.MouseDownHandler(event);
            }
            return;
          } else {
            //сбросим выделение
            this.select.unsetSelectedNodes("down1");
          }

          //нажатие по ноде не в фокусе
          //console.log(this.focusedNode.length, this.focusedNode);
          this.focusedNode = [];
          this.focusedNode.push(node);
          this.$store.commit("moveUpNode", i);
          if (e.ctrlKey) {
            this.focusedNode = this.createNodesCopy(this.focusedNode);
          }
          this.select.selectNode(this.focusedNode[0]);
          this.focusedNode[0].MouseDownHandler(event);
          //console.log(node, this.focusedNode[0]);
          return;
        }
      }

      for (let i = this.elements.length - 1; i >= 0; i--) {
        let el = this.elements[i];

        if (el.isHited(event.offsetX, event.offsetY)) {
          this.$store.dispatch("editElement", el);
          this.currentElement.MouseDownHandler(event);
          return;
        }
      }

      if (this.select.isSelecting()) {
        this.select.unsetSelectedNodes();
        this.focusedNode = [];
        return;
      }
      this.isSelecting = true;
      this.select.setStartPoint(scaledX + this.offsetX, scaledY + this.offsetY);
    },
    MouseUpHandler(e) {
      //console.log(this.isSelecting, this.isSelectedNodesMoving, this.focusedNode);

      if (this.isSelecting) {
        this.isSelecting = false;
        this.select.clearPoints();
        this.focusedNode = this.select.properties.selectedNodes;
        return;
      }
      if (this.isSelectedNodesMoving) {
        this.isSelectedNodesMoving = false;

        if (this.focusedNode.length > 1) {
          return;
        } else {
          this.focusedNode[0].MouseUpHandler(e);
          this.focusedNode = [];
          this.select.unsetSelectedNodes("up");
          return;
        }
      }
      if (this.isMouseCanvasMove) {
        this.isMouseCanvasMove = false;
        return;
      }

      if (this.isElementCreating) {
        this.currentElement.MouseUpHandler(e);
        //this.isElementCreating = false;
        return;
      }
    },
    MouseMoveHandler(e) {
      var scaledX = e.offsetX * this.scale;
      var scaledY = e.offsetY * this.scale;

      let stappedX = 0;
      let stappedY = 0;
      var gridStep = this.canvasParams().gridStep;

      if (scaledX % gridStep > gridStep / 2)
        stappedX = scaledX + gridStep - (scaledX % gridStep);
      else stappedX = scaledX - (scaledX % gridStep);
      if (scaledY % gridStep > gridStep / 2)
        stappedY = scaledY + gridStep - (scaledY % gridStep);
      else stappedY = scaledY - (scaledY % gridStep);

      let event = {
        offsetX: stappedX,
        offsetY: stappedY,
        canvasOffsetX: this.offsetX,
        canvasOffsetY: this.offsetY
      };
      if (this.isElementCreating) {
        this.currentElement.MouseMoveHandler(event);
        //this.isElementCreating = false;
        return;
      }

      if (
        this.focusedNode &&
        this.focusedNode.length &&
        this.isSelectedNodesMoving
      ) {
        for (let i in this.focusedNode) {
          var node = this.focusedNode[i];
          node.MouseMoveHandler(event, {
            height: this.maxh,
            width: this.maxw
          });
        }
        return;
      }
      if (this.isMouseCanvasMove) {
        var dx = this.fixedOffset.x - (event.offsetX - this.clickPoint.offsetX);
        var dy = this.fixedOffset.y - (event.offsetY - this.clickPoint.offsetY);

        let maxOffsetX = this.maxw - this.ctx.canvas.width;
        let maxOffsetY = this.maxh - this.ctx.canvas.height;

        this.offsetX = dx < maxOffsetX ? dx : maxOffsetX;
        this.offsetY = dy < maxOffsetY ? dy : maxOffsetY;

        if (this.offsetX < 0) this.offsetX = 0;
        if (this.offsetY < 0) this.offsetY = 0;
      }
      if (this.isSelecting) {
        this.select.setCurrentPoint(
          scaledX + this.offsetX,
          scaledY + this.offsetY
        );
      }
    },
    MouseWheelHandler(e) {
      var d = e.deltaY < 0 ? 0.1 : -0.1;
      let val = this.scale + d;
      var isChanged = true;
      if (val > 3) {
        val -= 0.1;
        isChanged = false;
      }
      if (val < 1) {
        val += 0.1;
        isChanged = false;
      }
      this.scale = val;
      if (isChanged) this.reOffset(e, d);
    },
    KeyDownHandler(e) {
      var k = 2;
      var gridStep = this.canvasParams().gridStep;
      switch (e.code) {
        case "ArrowUp":
          this.offsetY -= this.offsetY - gridStep * k < 0 ? 0 : gridStep * k;
          break;
        case "ArrowDown":
          this.offsetY +=
            this.ctx.canvas.height + this.offsetY + gridStep * k > this.maxh
              ? 0
              : gridStep * k;
          break;
        case "ArrowRight":
          this.offsetX +=
            this.ctx.canvas.width + this.offsetX + gridStep * k > this.maxw
              ? 0
              : gridStep * k;
          break;
        case "ArrowLeft":
          this.offsetX -= this.offsetX - gridStep * k < 0 ? 0 : gridStep * k;
          break;
        case "Escape":
          this.$store.dispatch("cancelEditElement");
          break;
        case "Delete":
          this.$store.dispatch("deleteElement", this.currentElement);
          this.deleteSelectedNodes();
          break;
        default:
          break;
      }
    },
    createNodesCopy(nodes) {
      let arr = [];
      for (let i in nodes) {
        var node = nodes[i];

        var newnode = new Node();
        for (let i in node.properties.observers) {
          newnode.pushObserver(node.properties.observers[i]);
        }
        var params = {};
        params["group"] = node.properties.group;
        params["theme"] = this.theme;
        params["visType"] = node.properties.visType.index;
        params["context"] = this.ctx;
        params["position"] = Object.assign({}, node.properties.position);
        params["geometry"] = Object.assign({}, node.getGeometry());
        if (params["visType"] == 5)
          params["label"] = node.properties.canvasPattern.properties.label;
        newnode.setupNode(params);

        this.$store.dispatch("addNode", newnode);
        this.$store.dispatch("updateNodeDataObject", node.properties.group);

        arr.push(newnode);
      }
      //console.log(arr, nodes);
      return arr;
    },
    deleteSelectedNodes() {
      //console.log(this.focusedNode);

      for (let i in this.focusedNode) {
        var node = this.focusedNode[i];

        this.$store.dispatch("deleteNode", node.id);
      }
      this.select.unsetSelectedNodes();
      this.focusedNode = [];
    },
    drawFromSaveData() {
      var savedData = demo; //e
      this.$store.commit("setFileName", savedData.namejson);
      var nodes = savedData.nodes;
      var settings = savedData.settings;
      var canvasSettings = savedData.canvasSettings;
      var themeName = savedData.themeName;
      var elements = savedData.elements;

      if (themeName) this.theme.setThemeByName(themeName);

      if (settings) this.$store.commit("setSettings", settings);

      this.createNodes(nodes);
      this.createElements(elements);

      if (canvasSettings)
        this.$store.dispatch("loadCanvasSettings", canvasSettings);
    },
    async createNodes(nodes) {
      var nodeGroups = [];

      for (let i in nodes) {
        let params = JSON.parse(JSON.stringify(nodes[i]));
        let grName = params.group;

        if (!nodeGroups.includes(grName)) nodeGroups.push(grName);
      }

      //await this.$store.dispatch("loadObserversByGroups", nodeGroups);

      for (let i in nodes) {
        var params = JSON.parse(JSON.stringify(nodes[i]));
        var grName = params.group;
        var visType = params.visType;
        var geom = params.geometry;
        var pos = params.position;
        var patternProps = params.canvasPattern;
        var nodeObservers = [];

        for (let j in params.observers) {
          const obsName = params.observers[j];

          let gr = this.observersByGroups.find(item => {
            return item.group == grName;
          });
          if (!gr) continue;

          let obs = gr.observers.find(item => {
            return item.name == obsName;
          });
          if (!obs) continue;

          nodeObservers.push(obs);
        }

        var node = new Node();
        for (let i in nodeObservers) {
          node.pushObserver(nodeObservers[i]);
        }
        var params = {};
        params["group"] = grName;
        params["theme"] = this.theme;
        params["visType"] = visType;
        params["context"] = this.ctx;
        params["geometry"] = geom;
        params["position"] = pos;

        node.setupNode(params);

        if (patternProps) {
          for (let f in patternProps) {
            var value = patternProps[f];
            if (f == "label") node.properties.canvasPattern.setLabel(value);
            else {
              node.properties.canvasPattern.properties[f] = value;
            }
          }
        }

        this.$store.dispatch("addNode", node);
        this.$store.dispatch("updateNodeDataObject", grName);
      }
    },
    createElements(elements) {
      for (let i in elements) {
        var el = elements[i];
        var params = {};
        params["visType"] = el.visType;
        params["context"] = this.ctx;
        params["theme"] = this.theme;

        let element = new Element();
        element.setupElement(params);

        var patternProps = el.canvasPattern;

        if (patternProps) {
          for (let f in patternProps) {
            var value = patternProps[f];
            if (f == "points")
              element.properties.canvasPattern.pushPoints(value);
          }
        }

        this.$store.dispatch("addElement", element);
      }
      this.$store.dispatch("cancelEditElement");
    }
  },
  watch: {
    currentElement(val) {
      this.isElementCreating = val != undefined;
    },
    isSelectedNodesMoving(val) {
      //console.log(val);
    },
    focusedNode(val) {
      //console.log(val);
    },
    isLoadCanvasSettings(val) {
      if (val) {
        for (let f in this.canvasSettings) {
          var val = this.canvasSettings[f];
          this[f] = val;
        }
        this.$store.dispatch("canvasSettingsUpdated");
      }
    }
  },
  created() {
    window.addEventListener("resize", this.resizeHandler);
  },
  destroyed() {
    this.stopDraw = true;
  },
  deleted() {
    window.removeEventListener("resize", this.resizeHandler);
  }
};
</script>

<style>
#visualisation-container {
  display: flex;
  width: 100%;
  position: relative;
}
#node-visualization {
  width: 90%;
}
#menu-container.hidden + #node-visualization {
  width: 100%;
}
#node-canvas {
  width: 100%;
  height: 100%;
  position: relative;
}
</style>
