<template>
  <div id="app" :class="themeClass">
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Themes } from "./common/themes/themes_interface.js";

export default {
  data() {
    return {};
  },
  created() {
    let theme = new Themes("dark");
    this.$store.commit("setTheme", theme);
  },
  computed: {
    themeClass() {
      if (this.theme.name() == "dark") return "dark";
    },
    ...mapGetters(["theme"])
  },
  methods: {
  }
};
</script>


<style lang="scss">
body {
  margin: unset;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .line {
    height: 1px;
    background-color: #545454;
    margin: 4px 8px;
  }

  &.dark {
    background-color: #545454;
    color: white !important;

    .line {
      background-color: rgb(189, 189, 189);
    }

    .main-menu-item:hover {
      background-color: #8c8c8c !important;
    }
    *.selected {
      background-color: #616161 !important;
    }
  }
}
</style>
